.train
{
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes move
{
    from
    {
        transform: translate3d(100%, 0, 50px);
    }

    to
    {
        transform: translate3d(-250%, 0, 50px);
    }
}

.wheel
{
    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate
{
    to
    {
        transform: rotate(-1turn);
    }
}

.wheel-joint
{
    animation-name: rotate-back;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-back
{
    to
    {
        transform: rotate(1turn);
    }
}

.wheel-joint-2
{
    animation-name: rotate-back-different;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes rotate-back-different
{
    from
    {
        transform: rotate(-15deg);
    }

    to
    {
        transform: rotate(360deg);
    }
}

.moon
{
    animation-name: rise;
    animation-duration: 8s;
    animation-timing-function: ease-out;

    animation-fill-mode: forwards;
}

@keyframes rise
{
    from
    {
        transform: translate3d(0, 150px, 10px) scale3d(1.5, 1.5, 1);
    }

    to
    {
        transform: translate3d(0, 0, 10px) scale3d(1, 1, 1);
    }
}

.smoke
{
    animation-name: fly-up;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes fly-up
{
    to
    {
        transform: translate3d(150px, -500px, 50px);
    }
}

.smoke-2
{
    animation-delay: 1s;
}

.smoke-3
{
    animation-delay: 2s;
}

.smoke-4
{
    animation-delay: 3s;
}

.cloud
{
    top: 80px;

    animation-name: cloud-1;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes cloud-1
{
    from
    {
        transform: translate3d(-210px, 0, 30px);
    }

    to
    {
        transform: translate3d(900px, 0, 30px);
    }
}

.cloud-2
{
    top: 20px;
    left: -20px;

    animation-name: cloud-2;
    animation-duration: 30s;
}

@keyframes cloud-2
{
    from
    {
        transform: translate3d(900px, 0, 15px) scale(-.5, .5);
    }

    to
    {
        transform: translate3d(-210px, 0, 15px) scale(-.5, .5);
    }
}

.cloud-3
{
    top: 100px;

    transform: translate3d(-210px, 0, 0);
    animation-name: cloud-3;
    animation-duration: 20s;
    animation-delay: 5s;
}

@keyframes cloud-3
{
    from
    {
        transform: translate3d(-210px, 0, 20px) scale(-.8, .8);
    }

    to
    {
        transform: translate3d(900px, 0, 20px) scale(-.8, .8);
    }
}

.cloud-4
{
    top: 200px;

    animation-name: cloud-4;
    animation-duration: 30s;
}

@keyframes cloud-4
{
    from
    {
        transform: translate3d(-210px, 0, 13px) scale(.2, .2);
    }

    to
    {
        transform: translate3d(900px, 0, 13px) scale(.2, .2);
    }
}
