/* stylelint-disable-next-line */
*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    word-break: break-all;
}

html
{
    height: 100%;

    font-size: 10px;
}

body
{
    height: 100%;

    font-size: 1.6rem;

    color: #6e6e6e;
}

header,
footer
{
    display: block;
}

a,
a:link,
a:visited
{
    text-decoration: none;

    color: #4d4d4d;
}

img
{
    border: 0;
}

ul
{
    list-style: none;
}

.center
{
    position: relative;

    display: flex;
    overflow: hidden;

    height: 100%;
    margin: auto;
}

.center::before,
.center::after
{
    position: absolute;

    content: '';
}

.canvas
{
    position: relative;

    overflow: hidden;

    width: 900px;
    height: 600px;
    margin: auto;

    background: linear-gradient(#013971, #000c18 60%);
}

.moon
{
    height: 100%;
    opacity: 1;
    position: absolute;
    top: 100px;
    left: -25%;
    width: 150%;
}

.moon::before
{
    content: '';
    display: block;

    position: absolute;
    top: 0;
    left: calc(50% - 60px);

    width: 120px;
    height: 120px;

    border-radius: 50%;
    background: #fefce6;
    box-shadow: 0 1px 30px 0 rgba(255, 255, 255, 1);
}

.center::after
{
    width: 100%;
    height: 100%;
}

.stars
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 875px;
    margin: 0 auto;
}

.star-1
{
    position: absolute;
    z-index: 1;

    width: 1px;
    height: 1px;
    margin-top: 291px;
    margin-left: 1042px;

    opacity: 1;
    border-radius: 50%;
    background: white;

    animation: twinkle-0 1s linear infinite;
    animation-delay: 0s;
}

.bridge
{
    position: absolute;
    z-index: 1;
    bottom: 10rem;

    width: 100%;
    height: 2.6rem;

    border-top: .3rem solid white;
    border-bottom: .3rem solid white;
    /* stylelint-disable-next-line */
    background: linear-gradient(55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem, linear-gradient(-55deg, transparent 46%, white 46%, white 54%, transparent 54%) left/1.6rem 2.2rem;
}

.train
{
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 12.6rem;

    width: 44rem;
    height: 10rem;
}

.engine-front,
.engine-front::before,
.engine-front::after
{
    border: .1rem solid rgba(255, 255, 255, .15);
    border-right: none;
    border-radius: 50% 0 0 50%;
    background: linear-gradient(0deg, #0f0f0f, #262626, #0f0f0f);
}

.engine-front
{
    position: absolute;
    bottom: 1.4rem;
    left: 0;

    width: 8rem;
    height: 4.6rem;

    border-radius: .5rem 0 0 .5rem;
}

.engine-front::before,
.engine-front::after
{
    position: absolute;
    top: 50%;
    left: -.9rem;

    width: .8rem;
    height: 70%;

    content: '';

    transform: translate(0, -50%);
}

.engine-front::after
{
    left: -1.4rem;

    width: .5rem;
    height: 40%;
}

.chimney
{
    position: absolute;
    top: -2.3rem;
    left: 2.5rem;

    width: 1.7rem;
    height: 2.2rem;

    background: #900;
}

.chimney::before,
.chimney::after
{
    position: absolute;

    content: '';
}

.chimney::before
{
    top: -.9rem;
    left: 50%;

    width: 160%;

    border-top: .8rem solid orange;
    border-right: .5rem solid transparent;
    border-bottom: none;
    border-left: .5rem solid transparent;

    transform: translate(-50%, 0);
}

.smoke
{
    position: absolute;
    z-index: -1;
    top: -1.5rem;
    left: .2rem;

    width: .8rem;
    height: 1.4rem;

    border-radius: 50%;
    background: rgba(255, 255, 255, .8);
}

.smoke-2
{
    left: .4rem;

    animation-delay: .1s;
}

.smoke-3
{
    left: .6rem;

    animation-delay: .2s;
}

.smoke-4
{
    left: .8rem;
}

.engine-body
{
    position: absolute;
    bottom: 1.4rem;
    left: 8rem;

    width: 5rem;
    height: 7rem;

    border-radius: 0 0 .4rem;
    background: linear-gradient(0deg, #300, red, #900);
}

.engine-body::before,
.engine-body::after
{
    position: absolute;
    left: 50%;

    content: '';

    transform: translate(-50%, 0);
}

.engine-body::before
{
    top: -1.2rem;

    width: 130%;
    height: 1.2rem;

    border-radius: 50% 50% 0 0;
    background: linear-gradient(0deg, #600, #900, #600);
}

.engine-body::after
{
    top: 1rem;

    width: 45%;
    height: 40%;

    border-radius: .2rem;
    background: #b3e0f2;
}

.wheel::before,
.wheel::after
{
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.wheel-holder
{
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2.8rem;
}

.wheel
{
    position: absolute;
    left: 1rem;

    width: 2.8rem;
    height: 2.8rem;

    border: .3rem solid rgba(0, 0, 0, .6);
    border-radius: 50%;
    background: orange;
}

.wheel-2
{
    left: 4.5rem;
}

.wheel-3
{
    top: -1.1rem;
    left: 8.7rem;

    width: 3.8rem;
    height: 3.8rem;

    border-width: .5rem;
}

.wheel-4
{
    left: 15.7rem;
}

.wheel-5
{
    left: 19.5rem;
}

.wheel-6
{
    left: 25.7rem;
}

.wheel-7
{
    left: 29.5rem;
}

.wheel-8
{
    left: 35.7rem;
}

.wheel-9
{
    left: 39.5rem;
}

.wheel::before,
.wheel::after
{
    position: absolute;

    content: '';
}

.wheel::before
{
    width: .2rem;
    height: 86%;

    background: rgba(0, 0, 0, .3);
}

.wheel::after
{
    width: 40%;
    height: 40%;

    border-radius: 50%;
    background: radial-gradient(circle at center, #b37400 30%, #996300 30%);
}

.compartment
{
    position: absolute;
    bottom: 1.4rem;
    left: 15rem;

    width: 8rem;
    height: 5rem;

    border-radius: 0 0 .3rem .3rem;
    background: linear-gradient(#104b63 50%, #1f8dba);

    animation: body-upDown .3s infinite;
}

.compartment-two
{
    left: 25rem;
}

.compartment-three
{
    left: 35rem;
}

.compartment::before,
.compartment::after
{
    position: absolute;
    bottom: .4rem;

    width: .9rem;
    height: .8rem;

    content: '';

    border: .4rem solid transparent;
    background: black;
    box-shadow: 0 0 0 1px rgba(255, 255, 255, .1);
}

.compartment::before
{
    left: -.9rem;

    border-left: .4rem solid rgba(255, 255, 255, .3);
}

.compartment::after
{
    left: -2rem;

    border-right: .4rem solid rgba(255, 255, 255, .3);
}

.compartment-window
{
    position: absolute;
    top: .7rem;

    width: 100%;
    height: 40%;

    background-image: linear-gradient(90deg, transparent .8rem, skyblue .8rem);
    background-position: left;
    background-size: 2.4rem 100%;
}

.compartment-window::before,
.compartment-window::after
{
    position: absolute;

    content: '';
}

.compartment-window::before
{
    top: -1.4rem;
    left: 50%;

    width: 110%;
    height: .6rem;

    border-radius: 50% 50% 0 0;
    background: #104b63;

    transform: translate(-50%, 0);
}

.wheel-joint
{
    position: absolute;
    z-index: 1;
    top: calc(50% - .2rem);
    right: .4rem;

    width: 3.6rem;
    height: .4rem;

    border-radius: .6rem;
    background: white;

    transform-origin: 100% 50%;
}

.wheel-joint::before,
.wheel-joint::after
{
    position: absolute;
    top: 50%;

    width: .8rem;
    height: .8rem;

    content: '';

    border: .1rem solid white;
    border-radius: 50%;
    background: #333;

    transform: translate(0, -50%);
}

.wheel-joint::before
{
    left: -.4rem;
}

.wheel-joint::after
{
    right: -.4rem;
}

.wheel-joint-2
{
    right: auto;
    left: 1.8rem;

    width: 4.4rem;

    transform: rotate(-15deg);
    transform-origin: 0 50%;
}

.wheel-joint-2::before
{
    width: 1.1rem;
    height: 1.1rem;
}

.h-con
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;

    overflow: hidden;

    width: 100%;
    height: 420px;
}

.hill
{
    position: absolute;
    z-index: 130;

    width: 700px;
    height: 1000px;
    margin-top: 140px;
    margin-left: -100px;

    border-radius: 30px;
    background: linear-gradient(to bottom right, #002142, #27435f);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);

    transform: rotate(45deg);
}

.hill2
{
    position: absolute;
    z-index: 130;

    width: 800px;
    height: 1000px;
    margin-top: 140px;
    margin-left: 0;

    border-radius: 30px;
    background: linear-gradient(to top right, #002142, #27435f);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);

    transform: rotate(45deg);
}

.hill3
{
    position: absolute;
    z-index: 130;

    width: 600px;
    height: 1000px;
    margin-top: 140px;
    margin-left: 150px;

    border-radius: 30px;
    background: linear-gradient(to bottom right, #002142, #27435f);
    box-shadow: 0 1px 30px 0 rgba(0, 0, 0, .5);

    transform: rotate(45deg);
}

.cloud
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    width: 200px;
    height: 60px;

    opacity: .8;
    border-radius: 200px;
    background: #fff;
}

.cloud:before,
.cloud:after
{
    position: absolute;
    top: -15px;
    left: 10px;

    width: 100px;
    height: 80px;

    content: '';

    border-radius: 100px;
    background: #fff;
}

.cloud:after
{
    top: -55px;
    right: 15px;
    left: auto;

    width: 120px;
    height: 120px;
}

/**
 * Решение задачи
 */

.center,
.canvas
{
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.center
{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    perspective: 1000px;
}

.canvas
{
    overflow: visible;
    -webkit-transition: -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out;
}

.hover-area
{
    position: absolute;
    z-index: 100;
}

.hover-area-1,
.hover-area-2,
.hover-area-3,
.hover-area-5,
.hover-area-6,
.hover-area-7
{
    height: 15%;
}

.hover-area-1,
.hover-area-2,
.hover-area-3
{
    top: 0;
}

.hover-area-5,
.hover-area-6,
.hover-area-7
{
    bottom: 0;
}

.hover-area-1,
.hover-area-3,
.hover-area-5,
.hover-area-7
{
    width: 15%;
}

.hover-area-2,
.hover-area-6
{
    width: 70%;
}

.hover-area-1,
.hover-area-7
{
    left: 0;
}

.hover-area-2,
.hover-area-6
{
    left: 15%;
}

.hover-area-3,
.hover-area-5
{
    left: 85%;
}

.hover-area-4,
.hover-area-8
{
    top: 15%;
    height: 70%;
    width: 15%;
}

.hover-area-4
{
    right: 0;
}

.hover-area-8
{
    left: 0;
}

.hover-area ~ .center
{
    -webkit-transition: max-width .5s;
    transition: max-width .5s;
}

.hover-area:hover ~ .center
{
    max-width: 1600px;
}

.hover-area-1:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(-1, 1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(-1, 1, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-2:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(-1, 0, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(-1, 0, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-3:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(-1, -1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(-1, -1, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-4:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(0, -1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(0, -1, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-5:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(1, -1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(1, -1, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-6:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(1, 0, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(1, 0, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-7:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(1, 1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(1, 1, 0, 25deg) scale3d(.9, .9, 1);
}

.hover-area-8:hover ~ .center .canvas
{
    -webkit-transform: rotate3d(0, 1, 0, 25deg) scale3d(.9, .9, 1);
    transform: rotate3d(0, 1, 0, 25deg) scale3d(.9, .9, 1);
}

.wheel,
.wheel-joint,
.wheel-joint-2
{
    -webkit-animation: wheel .5s linear infinite;
    animation: wheel .5s linear infinite;
}

.wheel-3
{
    -webkit-animation: wheel .68s linear infinite;
    animation: wheel .68s linear infinite;
}

.wheel-joint
{
    -webkit-animation-name: joint;
    animation-name: joint;
}

.wheel-joint-2
{
    -webkit-animation-name: joint-2;
    animation-name: joint-2;
}

.train
{
    -webkit-animation: train 11.65s linear infinite;
    animation: train 11.65s linear infinite;
    opacity: 0;
}

.bridge
{
    -webkit-transform: translate3d(0, -12px, 120px) scale3d(.8, .8, 1);
    transform: translate3d(0, -12px, 120px) scale3d(.8, .8, 1);
    margin-left: -25%;
    width: 150%;
}

.smoke
{
    -webkit-animation: smoke 1s ease-out infinite;
    animation: smoke 1s ease-out infinite;
}

.smoke-2
{
    -webkit-animation: smoke-2 1s ease-out .25s infinite;
    animation: smoke-2 1s ease-out .25s infinite;
}

.smoke-3
{
    -webkit-animation: smoke-3 1s ease-out .5s infinite;
    animation: smoke-3 1s ease-out .5s infinite;
}

.smoke-4
{
    -webkit-animation: smoke-4 1s ease-out .75s infinite;
    animation: smoke-4 1s ease-out .75s infinite;
}

.cloud:first-child
{
    -webkit-animation: cloud 20s linear -5s infinite;
    animation: cloud 20s linear -5s infinite;
}

.cloud:nth-child(2)
{
    -webkit-animation: cloud-2 24s linear -11s infinite;
    animation: cloud-2 22s linear -11s infinite;
}

.cloud:nth-child(3)
{
    -webkit-animation: cloud-3 28s linear -18s infinite;
    animation: cloud-3 24s linear -18s infinite;
}

.cloud:nth-child(4)
{
    -webkit-animation: cloud-4 32s linear -26s infinite;
    animation: cloud-4 26s linear -26s infinite;
}

.moon
{
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    opacity: 0;
    -webkit-animation: moon 30s ease-out -7s forwards;
    animation: moon 30s ease-out -7s forwards;
}

.h-con
{
    -webkit-transform: rotate3d(1, 0, 0, 15deg) translate3d(0, 0, 80px);
    transform: rotate3d(1, 0, 0, 15deg) translate3d(0, 0, 80px);
}

.hill,
.hill2,
.hill3
{
    overflow: hidden;
}

.hill::before,
.hill2::before,
.hill3::before
{
    -webkit-animation: hill 30s ease-out -7s forwards;
    animation: hill 30s ease-out -7s forwards;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(255, 255, 255, .75);
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: -50%;
    top: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    width: 50%;
}

.wolf
{
    margin-left: 30px;
    -webkit-transform: rotate3d(1, 0, 0, -10deg) translate3d(0, 0, 59px);
    transform: rotate3d(1, 0, 0, -10deg) translate3d(0, 0, 59px);
    position: absolute;
    left: 50%;
    bottom: 320px;
    z-index: 1;
}

@keyframes wheel
{
    100%
    {
        -webkit-transform: rotate3d(0, 0, 1, -360deg);
        transform: rotate3d(0, 0, 1, -360deg);
    }
}

@keyframes joint
{
    0%
    {
        -webkit-transform: rotate3d(0, 0, 1, 0);
        transform: rotate3d(0, 0, 1, 0);
    }

    100%
    {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes joint-2
{
    0%
    {
        -webkit-transform: rotate3d(0, 0, 1, 0);
        transform: rotate3d(0, 0, 1, 0);
    }

    50%
    {
        -webkit-transform: rotate3d(0, 0, 1, 163deg);
        transform: rotate3d(0, 0, 1, 163deg);
    }

    100%
    {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

@keyframes smoke
{
    100%
    {
        opacity: 0;
        -webkit-transform: scale3d(1.7, 1.7, 0) translate3d(45px, -50px, 110px);
        transform: scale3d(1.7, 1.7, 0) translate3d(45px, -50px, 110px);
    }
}

@keyframes smoke-2
{
    100%
    {
        opacity: 0;
        -webkit-transform: scale3d(2, 2, 0) translate3d(50px, -60px, 130px);
        transform: scale3d(2, 2, 0) translate3d(50px, -60px, 130px);
    }
}

@keyframes smoke-3
{
    100%
    {
        opacity: 0;
        -webkit-transform: scale3d(2.5, 2.5, 0) translate3d(45px, -40px, 100px);
        transform: scale3d(2.5, 2.5, 0) translate3d(45px, -40px, 100px);
    }
}

@keyframes smoke-4
{
    100%
    {
        opacity: 0;
        -webkit-transform: scale3d(1.4, 1.4, 0) translate3d(50px, -60px, 120px);
        transform: scale3d(1.4, 1.4, 0) translate3d(50px, -60px, 120px);
    }
}

@keyframes train
{
    0%
    {
        -webkit-transform: translate3d(850px, 0, 120px) scale3d(.8, .8, 1);
        transform: translate3d(850px, 0, 120px) scale3d(.8, .8, 1);
    }

    15%,
    85%
    {
        opacity: 1;
    }

    100%
    {
        -webkit-transform: translate3d(-1200px, 0, 120px) scale3d(.8, .8, 1);
        transform: translate3d(-1200px, 0, 120px) scale3d(.8, .8, 1);
    }
}

@keyframes cloud
{
    0%
    {
        -webkit-transform: translate3d(-320px, 80px, 160px);
        transform: translate3d(-320px, 80px, 160px);
    }

    100%
    {
        -webkit-transform: translate3d(900px, 80px, 160px);
        transform: translate3d(900px, 80px, 160px);
    }
}

@keyframes cloud-2
{
    0%
    {
        /* stylelint-disable-next-line */
        -webkit-transform: translate3d(-320px, 210px, 120px) scale3d(.75, .75, 1);
        transform: translate3d(-320px, 210px, 120px) scale3d(.75, .75, 1);
    }

    100%
    {
        /* stylelint-disable-next-line */
        -webkit-transform: translate3d(900px, 210px, 120px) scale3d(.75, .75, 1);
        transform: translate3d(900px, 210px, 120px) scale3d(.75, .75, 1);
    }
}

@keyframes cloud-3
{
    0%
    {
        /* stylelint-disable-next-line */
        -webkit-transform: translate3d(-320px, 150px, 80px) scale3d(-.65, .65, 1);
        transform: translate3d(-320px, 150px, 80px) scale3d(-.65, .65, 1);
    }

    100%
    {
        /* stylelint-disable-next-line */
        -webkit-transform: translate3d(900px, 150px, 80px) scale3d(-.65, .65, 1);
        transform: translate3d(900px, 150px, 80px) scale3d(-.65, .65, 1);
    }
}

@keyframes cloud-4
{
    0%
    {
        -webkit-transform: translate3d(-320px, 60px, 40px) scale3d(-.5, .5, 1);
        transform: translate3d(-320px, 60px, 40px) scale3d(-.5, .5, 1);
    }

    100%
    {
        -webkit-transform: translate3d(900px, 60px, 40px) scale3d(-.5, .5, 1);
        transform: translate3d(900px, 60px, 40px) scale3d(-.5, .5, 1);
    }
}

@keyframes moon
{
    0%
    {
        /* stylelint-disable-next-line */
        -webkit-transform: rotate3d(0, 0, 1, -90deg) translate3d(0, 0, 20px) scale3d(1.3, 1.3, 1);
        /* stylelint-disable-next-line */
        transform: rotate3d(0, 0, 1, -90deg) translate3d(0, 0, 20px) scale3d(1.3, 1.3, 1);
    }

    12%
    {
        opacity: 1;
    }

    100%
    {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 20px);
        transform: translate3d(0, 0, 20px);
    }
}

@keyframes hill
{
    100%
    {
        -webkit-transform: translate3d(0, -50%, 0);
        transform: translate3d(0, -50%, 0);
    }
}
