/* stylelint-disable-next-line */
*,
*:before,
*:after
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    word-break: break-all;
}

html
{
    height: 100%;

    font-size: 10px;
}

body
{
    height: 100%;

    font-size: 1.6rem;

    color: #6e6e6e;
}

header,
footer
{
    display: block;
}

a,
a:link,
a:visited
{
    text-decoration: none;

    color: #4d4d4d;
}

img
{
    border: 0;
}

ul
{
    list-style: none;
}

.center
{
    position: relative;

    display: flex;
    overflow: hidden;

    height: 100%;
    margin: auto;
}

.center::before,
.center::after
{
    position: absolute;

    content: '';
}

.canvas
{
    position: relative;

    overflow: hidden;

    width: 900px;
    height: 600px;
    margin: auto;

    background: linear-gradient(#013971, #000c18 60%);
}

.center::after
{
    width: 100%;
    height: 100%;
}

.perspective-helper
{
    z-index: 1;
    position: absolute;
    width: 38%;
    height: 40%;
}

.top-left
{
    top: 10%;
    left: 12%;
}

.top-right
{
    top: 10%;
    right: 12%;
}

.bottom-left
{
    bottom: 10%;
    left: 12%;
}

.bottom-right
{
    bottom: 10%;
    right: 12%;
}

.top-left:hover ~ .canvas
{
    transition-duration: 1.6s;
    transform: perspective(1000px) rotateX(-20deg) rotateY(20deg);
}

.top-right:hover ~ .canvas
{
    transition-duration: 1.6s;
    transform: perspective(1000px) rotateX(-20deg) rotateY(-20deg);
}

.bottom-left:hover ~ .canvas
{
    transition-duration: 1.6s;
    transform: perspective(1000px) rotateX(20deg) rotateY(20deg);
}

.bottom-right:hover ~ .canvas
{
    transition-duration: 1.6s;
    transform: perspective(1000px) rotateX(20deg) rotateY(-20deg);
}
