.moon
{
    animation: moon 15s linear;
}

@keyframes moon
{
    from
    {
        top: 250px;
        width: 180px;
        height: 180px;
    }

    to
    {
        top: 100px;
        width: 120px;
        height: 120px;
    }
}
