.moon
{
    animation: moon 10s linear;
    transform: translateZ(10px);
}

.moon-wrapper
{
    animation: moon-wrapper 10s linear;
}

@keyframes moon
{
    from
    {
        top: 250px;
        transform: translateZ(10px) scale(2);
    }

    to
    {
        top: 100px;
    }
}

@keyframes moon-wrapper
{
    from
    {
        top: 250px;
        /*transform: scale(1.5);*/
        /*width: 180px;*/
        /*height: 180px;*/
    }

    to
    {
        top: 100px;
        /*width: 120px;*/
        /*height: 120px;*/
    }
}
