@keyframes cloud-floats-forward
{
    from
    {
        left: -200px;
    }

    to
    {
        left: 1100px;
    }
}

@keyframes cloud-floats-backward
{
    from
    {
        left: 1100px;
    }

    to
    {
        left: -200px;
    }
}

div.cloud:nth-child(1)
{
    transform: scale(.2) translate(-400px, 800px);
    animation: cloud-floats-forward 30s linear infinite;
    opacity: .4;
}

div.cloud:nth-child(2)
{
    transform: scale(.4) translate(-200px, 100px);
    animation: cloud-floats-forward 25s linear infinite;
    opacity: .7;
}

div.cloud:nth-child(3)
{
    transform: scale(.6) translate(100px, 500px);
    animation: cloud-floats-forward 20s linear infinite;
    opacity: .7;
}

div.cloud:nth-child(4)
{
    transform: scaleX(-.8) translate(100px, 70px);
    animation: cloud-floats-backward 10s linear infinite;
    opacity: .7;
}

/*
div.cloud
{
    background: green;
}
*/
