@keyframes moon-rises
{
    from
    {
        transform: scale(1.7);
        top: 500px;
    }

    to
    {
        transform: scale(1);
        top: 100px;
    }
}

div.moon
{
    animation: moon-rises 12s linear;
}
