@keyframes smoke-engages
{
    to
    {
        top: -160px;
        left: 200px;
        opacity: 0;
        transform: scaleX(10) scaleY(.5);
        background: whitesmoke;
    }
}

.smoke
{
    background: gray;
    animation: smoke-engages 3s linear infinite;
}

.smoke-2
{
    animation: smoke-engages 3s linear 1.5s infinite;
}

.smoke-3
{
    animation: smoke-engages 3s linear 1s infinite;
}

.smoke-4
{
    animation: smoke-engages 3s linear .5s infinite;
}
