@keyframes smoke-engages
{
    to
    {
        top: -160px;
        left: 200px;
        opacity: 0;
        transform: scaleX(10) scaleY(.5);
        background: whitesmoke;
    }
}

.smoke
{
    background: gray;
    animation: smoke-engages 3s infinite linear;
}

.smoke-2
{
    animation: smoke-engages 3s infinite 1.5s linear;
}

.smoke-3
{
    animation: smoke-engages 3s infinite 1s linear;
}

.smoke-4
{
    animation: smoke-engages 3s infinite .5s linear;
}
