@keyframes joint-rotates
{
    from
    {
        transform: rotate(0);
    }

    to
    {
        transform: rotate(1turn);
    }
}

div.wheel-joint
{
    animation: joint-rotates 2s linear infinite;
}
