@keyframes trainMovement
{
    to
    {
        transform: translateX(-1400px);
    }
}

.train
{
    right: -500px;
    animation: trainMovement 15s linear infinite;
}

@keyframes rotateWheel
{
    to
    {
        transform: rotate(-1turn);
    }

}

.wheel
{
    animation: rotateWheel 2s linear infinite;
}

@keyframes rotateWheelJoint
{
    from
    {
        transform: rotate(0deg);
    }

    to
    {
        transform: rotate(360deg);
    }

}

@keyframes rotateWheelJoint2
{
    0%
    {
        transform: rotate(-15deg);
    }

    25%
    {
        transform: rotate(82deg);
    }

    50%
    {
        transform: rotate(170deg);
    }

    75%
    {
        transform: rotate(267deg);
    }

    100%
    {
        transform: rotate(345deg);
    }

}

.wheel-joint
{
    animation: rotateWheelJoint 2s linear infinite;
}

.wheel-joint-2
{
    animation: rotateWheelJoint2 2s linear infinite;
}

@keyframes smoke
{
    from
    {
        opacity: 1;
        transform: scaleX(1);
    }

    to
    {
        opacity: 0;
        transform: scaleX(2.5) translate(20px, -90px);
    }
}

.smoke
{
    animation: smoke 2s linear infinite forwards;
}

.smoke.smoke-2
{
    animation-delay: 1.5s;
}

.smoke.smoke-3
{
    animation-delay: 1s;
}

.smoke.smoke-4
{
    animation-delay: .5s;
}
