.canvas
{
    position: relative;

    overflow: hidden;

    width: 900px;
    height: 600px;
    margin: auto;

    background: linear-gradient(#013971, #000c18 60%);

    transition: 1s linear;
    transform-style: preserve-3d;
    transform-origin: center;
    -webkit-transform-style: preserve-3d;
}

.hover-helper
{
    width: 450px;
    height: 300px;
    position: absolute;
    left: 20.4%;
    top: 16.4%;
    z-index: 1;
}

.top-right
{
    transform: translate(100%, 0);
}

.bottom-left
{
    transform: translate(0, 100%);
}

.bottom-right
{
    transform: translate(100%, 100%);
}

.top-right:hover ~ .canvas
{
    transform: perspective(900px) rotateX(-10deg) rotateY(-20deg);
}

.bottom-right:hover ~ .canvas
{
    transform: perspective(900px) rotateX(10deg) rotateY(-20deg);
    
}

.top-left:hover ~ .canvas
{
    transform: perspective(900px) rotateX(10deg) rotateY(20deg);
}

.bottom-left:hover ~ .canvas
{
    transform: perspective(900px) rotateX(-10deg) rotateY(20deg);
}
