.hover3D
{
    position: absolute;
    width: 50%;
    height: 50%;
    z-index: 1;
}

.hover3D:nth-child(1)
{
    top: 0;
    right: 0;
}

.hover3D:nth-child(2)
{
    top: 0;
    left: 0;
}

.hover3D:nth-child(3)
{
    bottom: 0;
    left: 0;
}

.hover3D:nth-child(4)
{
    bottom: 0;
    right: 0;
}

.canvas
{
    transition: 1s linear;
    transform-style: preserve-3d;
    perspective: 1200px;

}

.hover3D:nth-child(1):hover ~ .canvas
{
    transform: rotateX(-20deg) rotateY(-20deg);
}

.hover3D:nth-child(2):hover ~ .canvas
{
    transform: rotateX(-20deg) rotateY(20deg);
}

.hover3D:nth-child(3):hover ~ .canvas
{
    transform: rotateX(20deg) rotateY(20deg);
}

.hover3D:nth-child(4):hover ~ .canvas
{
    transform: rotateX(20deg) rotateY(-20deg);
}
